{{>partials/header}}
<hr/>
<h1>Login</h1>
<form method="GET">
    <input type="text" name="userName" placeholder="Digite o Usuário">
    <input type="text" name="userSenha" placeholder="digite sua Senha">
    <input type="submit" values="Enviar">
    <h2 style="color: red;">{{erro}}</h2>
</form>
{{>partials/footer}}