{{>partials/header}}
<h2 class="text-center">Contatos</h2>
<ul>
    <li>Nome: Gustavo Henrique Tavares de Souza</li>
    <li>Email: gutvo9@hotmail.con</li>
    <li>Telefone: (14) 997918422</li>
</ul>
{{>partials/footer}}