{{>partials/header}}
<h2 class="text-center">Sobre nós</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, iusto hic? Pariatur unde, molestiae nemo nam distinctio veniam repellendus libero quaerat quos et eveniet! Culpa velit ratione quisquam eveniet praesentium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, rem? Impedit delectus voluptatibus est eaque repudiandae quasi dicta harum itaque, explicabo recusandae nisi velit, doloribus, quia id tenetur suscipit perferendis!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit, iusto hic? Pariatur unde, molestiae nemo nam distinctio veniam repellendus libero quaerat quos et eveniet! Culpa velit ratione quisquam eveniet praesentium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, rem? Impedit delectus voluptatibus est eaque repudiandae quasi dicta harum itaque, explicabo recusandae nisi velit, doloribus, quia id tenetur suscipit perferendis!</p>

{{>partials/footer}}